<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="address" class="ByName.Address" p:hno="222"
		p:street="South Street" p:city="Trichy" />
		
		<!-- <bean name="address1" class="ByName.Address" p:hno="111"
		p:street="South Street" p:city="Trichy" /> -->

	<bean name="employee" class="ByName.Employee" autowire="byName"/>
	
</beans>    